<div class="table_wrapper">
    <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="nameDormitory">
            <md-header-cell *cdkHeaderCellDef> Nazwa akademika </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.dormitoryName}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="adress">
            <md-header-cell *cdkHeaderCellDef> Adres akademika </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.adress}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="['nameDormitory', 'adress']"></md-header-row>
        <md-row *cdkRowDef="let row; columns: ['nameDormitory', 'adress'];"></md-row>
    </md-table>
</div>