<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="residentCountry">Kraj</label>
                <input [disabled]="switchInputs" [style.opacity]="switchInputs ? 0.4 : 1" [(ngModel)]="residentAddress.country" #country="ngModel" name="country" type="text" class="form-control" id="residentCountry" placeholder="Podaj Kraj" required>
                <div [hidden]="country.valid || country.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentCity">Miasto</label>
                <input [disabled]="switchInputs" [style.opacity]="switchInputs ? 0.4 : 1" [(ngModel)]="residentAddress.city" #city="ngModel" name="city" type="email" class="form-control" id="residentCity" placeholder="Podaj Miasto" required>
                <div [hidden]="city.valid || city.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentPostCode">Kod Pocztowy</label>
                <input [disabled]="switchInputs" [style.opacity]="switchInputs ? 0.4 : 1" [(ngModel)]="residentAddress.postCode" #postCode="ngModel" name="postCode" type="text" class="form-control" id="residentPostCode" placeholder="Kod Pocztowy" required>
                <div [hidden]="postCode.valid || postCode.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentStreet">Ulica</label>
                <input [disabled]="switchInputs" [style.opacity]="switchInputs ? 0.4 : 1" [(ngModel)]="residentAddress.street" #street="ngModel" name="street" type="email" class="form-control" id="residentStreet" placeholder="Podaj Datę Urodzenia" required>
                <div [hidden]="street.valid || street.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentHouseNumber">Numer Domu</label>
                <input [disabled]="switchInputs" [style.opacity]="switchInputs ? 0.4 : 1" [(ngModel)]="residentAddress.houseNumber" #houseNumber="ngModel" name="houseNumber" type="email" class="form-control" id="residentHouseNumber" placeholder="Podaj Miejsce Urodzenia"
                    required>
                <div [hidden]="houseNumber.valid || houseNumber.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentApartmentNumber">Numer lokalu</label>
                <input [disabled]="switchInputs" [style.opacity]="switchInputs ? 0.4 : 1" [(ngModel)]="residentAddress.apartmentNumber" #apartmentNumber="ngModel" name="apartmentNumber" type="email" class="form-control" id="residentApartmentNumber" placeholder="Podaj Imię Matki"
                    required>
                <div [hidden]="apartmentNumber.valid || apartmentNumber.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentAddressType">Typ Adresu</label>
                <input [disabled]="true" [style.opacity]="true ? 0.4 : 1" [(ngModel)]="residentAddress.address" #addressType="ngModel" name="addressType" type="email" class="form-control" id="residentAddressType" placeholder="Podaj Typ Adresu" disabled required>
                <div [hidden]="addressType.valid || addressType.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
</div>