.container {
    width: 100%;
    display: table-cell;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 5px;
    width: 250px;
}

label {
    color: white;
    font-weight: inherit;
    font-size: 18px;
    margin-left: 5px;
    float: left;
    text-transform: capitalize;
}

form {
    display: flex;
    margin: 5px;
}

#form_wrapper {
    display: flex;
    margin-bottom: 20px;
}

form-select {
    width: 250px;
}

ul.dropdown-menu {
    min-width: 250px !important;
}

.dropdown-menu {
    min-width: 250px;
}

.open>.dropdown-menu {
    min-width: 250px;
}

dropdown-item empty {
    margin: 5px;
}