<!-- {{resident?.name}} -->
<div class="container">
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentName">Imię</label>
                <input [(ngModel)]="residentPersonalData.name" name="name" #name="ngModel" type="text" class="form-control" id="residentName" placeholder="Podaj Imie" required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentSurname">Nazwisko</label>
                <input #surname="ngModel" [(ngModel)]="residentPersonalData.surname" name="surname" type="text" class="form-control" id="residentSurname" placeholder="Podaj Nazwisko" required>
                <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentPesel">PESEL</label>
                <input #pesel="ngModel" [(ngModel)]="residentPersonalData.pesel" name="pesel" type="text" class="form-control" id="residentPesel" placeholder="Podaj PESEL" required>
                <div [hidden]="pesel.valid || pesel.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentBirthDate">Data Urodzenia</label>
                <input #birthDate="ngModel" [(ngModel)]="residentPersonalData.birthDate" name="birthDate" type="date" class="form-control" id="residentBirthDate" placeholder="Podaj Datę Urodzenia" required>
                <div [hidden]="birthDate.valid || birthDate.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentBrithPlace">Miejsce Urodzenia</label>
                <input #birthPlace="ngModel" [(ngModel)]="residentPersonalData.birthPlace" name="birthPlace" type="text" class="form-control" id="residentBrithPlace" placeholder="Podaj Miejsce Urodzenia" required>
                <div [hidden]="birthPlace.valid || birthPlace.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentCitzenship">Obywatelstwo</label>
                <input [disabled]="true" [style.opacity]="true ? 0.4 : 1" #citzenship="ngModel" [(ngModel)]="residentPersonalData.citzenship" name="citzenship" type="text" class="form-control" id="residentCitzenship" placeholder="Zmień Obywatelstwo" required>
                <div [hidden]="citzenship.valid || citzenship.pristine || switchInputs" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentNameFather">Imię Ojca</label>
                <input #fatherName="ngModel" [(ngModel)]="residentPersonalData.fatherName" name="fatherName" type="text" class="form-control" id="residentNameFather" placeholder="Podaj Imię Ojca" required>
            </div>
            <div class="form-group">
                <label for="residentNameMather">Imię Matki</label>
                <input #matherName="ngModel" [(ngModel)]="residentPersonalData.motherName" name="motherName" type="text" class="form-control" id="residentNameMather" placeholder="Podaj Imię Matki" required>
            </div>
            <div class="form-group">
                <label for="residentGenre">Płeć</label>
                <input #genre="ngModel" [(ngModel)]="residentPersonalData.genre" name="genre" type="text" class="form-control" id="residentGenre" placeholder="Podaj Płeć" required>
                <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <ss-multiselect-dropdown #select="ngModel" [texts]="myTexts" [settings]="mySettings" [options]="myOptions" [(ngModel)]="optionsModel" name="optionsModel" (ngModelChange)="onChange($event)" required></ss-multiselect-dropdown>
                <div [hidden]="select.valid || select.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>

                <!-- <label for="residentPhoneNumber">Numer Telefonu</label> -->
                <!-- <input #phoneNumber="ngModel" [(ngModel)]="residentPersonalData.phoneNumber" name="phoneNumber" type="text" class="form-control" id="residentPhoneNumber" placeholder="Podaj Imię Matki" required> -->
            </div>
        </form>
    </div>
</div>