<!-- {{resident?.name}} -->
<h1>Dane osobowe</h1>
<div id="form_wrapper">
    <form>
        <div class="form-group">
            <label for="residentName">Imię</label>
            <input (keyup)="CheckValidation(residentPersonalData.name, name)" [(ngModel)]="residentPersonalData.name" name="name" #name="ngModel" type="text" class="form-control" id="residentName" placeholder="Podaj Imie" required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Pole nie może być puste
            </div>
            <div [hidden]="validationError.specialCharactersOrNumbers.name" class="alert alert-danger">
                Imię nie może zawierać znaków specjalnych lub cyfr
            </div>
        </div>
        <div class="form-group">
            <label for="residentSurname">Nazwisko</label>
            <input (keyup)="CheckValidation(residentPersonalData.surname, surname)" #surname="ngModel" [(ngModel)]="residentPersonalData.surname" name="surname" type="text" class="form-control" id="residentSurname" placeholder="Podaj Nazwisko" required>
            <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
                Pole nie może być puste
            </div>
            <div [hidden]="validationError.specialCharactersOrNumbers.surname" class="alert alert-danger">
                Nazwisko nie może zawierać znaków specjalnych lub cyfr
            </div>
        </div>
        <div class="form-group">
            <label for="residentCitzenship">Obywatelstwo</label>
            <br>
            <ss-multiselect-dropdown #select="ngModel" [texts]="settingsTextSelectButton" [settings]="settingsSelectButton" [options]="citzenshipsList" [(ngModel)]="selectedCitzenship" name="optionsModel" id="residentCitzenship" required></ss-multiselect-dropdown>
            <div [hidden]="select.valid || select.pristine" class="alert alert-danger">
                Pole nie może być puste
            </div>
        </div>
        <div class="form-group">
            <label for="residentPesel">PESEL</label>
            <input (blur)="CheckIsResidentPeselExist()" #pesel="ngModel" [(ngModel)]="residentPersonalData.pesel" name="pesel" type="text" class="form-control" id="residentPesel" placeholder="Podaj PESEL" required>
            <div [hidden]="pesel.valid || pesel.pristine" class="alert alert-danger">
                Pole nie może być puste
            </div>
        </div>
    </form>
</div>
<div id="form_wrapper">
    <form>
        <div class="form-group">
            <label for="residentBirthDate">Data Urodzenia</label>
            <input #birthDate="ngModel" [(ngModel)]="residentPersonalData.birthDate" name="birthDate" type="date" class="form-control" id="residentBirthDate" placeholder="Podaj Datę Urodzenia" required>
            <div [hidden]="birthDate.valid || birthDate.pristine" class="alert alert-danger">
                Pole nie może być puste
            </div>
        </div>
        <div class="form-group">
            <label for="residentBrithPlace">Miejsce Urodzenia</label>
            <input (keyup)="CheckValidation(residentPersonalData.birthPlace, birthPlace)" #birthPlace="ngModel" [(ngModel)]="residentPersonalData.birthPlace" name="birthPlace" type="text" class="form-control" id="residentBrithPlace" placeholder="Podaj Miejsce Urodzenia"
                required>
            <div [hidden]="birthPlace.valid || birthPlace.pristine" class="alert alert-danger">
                Pole nie może być puste
            </div>
            <div [hidden]="validationError.specialCharactersOrNumbers.birthPlace" class="alert alert-danger">
                Miejsce urodzenia nie może zawierać znaków specjalnych lub cyfr
            </div>
        </div>
        <div class="form-group">
            <label for="residentNameFather">Imię Ojca</label>
            <input (keyup)="CheckValidation(residentPersonalData.fatherName, fatherName)" #fatherName="ngModel" [(ngModel)]="residentPersonalData.fatherName" name="fatherName" type="text" class="form-control" id="residentNameFather" placeholder="Podaj Imię Ojca"
                required>
            <div [hidden]="validationError.specialCharactersOrNumbers.fatherName" class="alert alert-danger">
                Imie ojca nie może zawierać znaków specjalnych lub cyfr
            </div>
        </div>
        <div class="form-group">
            <label for="residentNameMather">Imię Matki</label>
            <input (keyup)="CheckValidation(residentPersonalData.motherName, motherName)" #motherName="ngModel" [(ngModel)]="residentPersonalData.motherName" name="motherName" type="text" class="form-control" id="residentNameMather" placeholder="Podaj Imię Matki"
                required>
            <div [hidden]="validationError.specialCharactersOrNumbers.motherName" class="alert alert-danger">
                Imie matki nie może zawierać znaków specjalnych lub cyfr
            </div>
        </div>
    </form>
</div>
<div id="form_wrapper">
    <form>
        <div class="form-group">
            <label for="residentGenre">Płeć</label>
            <select class="form-control" #genre="ngModel" [(ngModel)]="residentPersonalData.genre" [ngModelOptions]="{standalone: true}" placeholder="Wybierz Płeć" (change)="SetGenre($event.target)">
                    <option value="" disabled>Wybierz płeć</option>
                    <option *ngFor="let name of genreList" [ngValue]="name" >{{name}}</option>
                </select>
            <!-- <input #genre="ngModel" [(ngModel)]="residentPersonalData.genre" name="genre" type="text" class="form-control" id="residentGenre" placeholder="Podaj Płeć" required>
                <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div> -->
        </div>
        <div class="form-group">
            <label for="residentPhoneNumber">Numer Telefonu</label>
            <input (keyup)="CheckValidation(residentPersonalData.phoneNumber, phoneNumber)" #phoneNumber="ngModel" [(ngModel)]="residentPersonalData.phoneNumber" name="phoneNumber" type="text" class="form-control" id="residentPhoneNumber" placeholder="+48 123123123..."
                required>
            <div [hidden]="validationError.phoneNumber" class="alert alert-danger">
                Numer telefonu niezgodny ze wzorem
            </div>
        </div>

    </form>
</div>