.container {}


/* HEADER EDIT_COMPONENT */

#header_wrapper {
    font-size: 60px;
    display: -webkit-box;
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

#header_wrapper>button {
    margin-right: 12px;
}

#header_wrapper>h1 {
    color: white;
    margin: auto;
    margin-top: 20px;
}

.glyphicon {
    font-size: 37px;
}

.fa {
    font-size: 40px;
}


/* ///////////////////////////////////////////////////////// */

.nav-tabs {
    justify-content: center;
    display: flex;
    text-transform: capitalize;
}

.nav-tabs>li>a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    /* border: 1px solid transparent; */
}

a,
.nav-tabs>li.active>a {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    width: 150px;
    height: 70px;
    padding: 0px !important;
}

a:hover,
.nav-tabs>li.active>a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    outline-width: 0;
}

a:focus,
.nav-tabs>li.active>a:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

a:active,
.nav-tabs>li.active>a:active {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

a:visited,
.nav-tabs>li.active>a:visited {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

button {
    margin: 10px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

button:active {
    background: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

button:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

#form_wrapper {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
}

#formMenu_wrapper {
    display: inline-block;
    margin-right: 30px;
}

ul.nav,
.nav-tabs {
    display: grid;
    float: left;
    border-bottom: none;
    margin-top: 80px;
}

.nav-tabs>li>a {
    margin-right: 0px;
    border-radius: 0px;
    border-top: 2px solid;
}

.tab-content,
.tab-content>.active {
    width: 100%;
    display: -webkit-box;
}