<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#personalData">Dane Osobowe</a></li>
        <li><a data-toggle="tab" href="#placeOfResidence">Miejsce Zamieszkania</a></li>
        <li><a data-toggle="tab" href="#listOfDocuments">Dokumenty</a></li>
    </ul>

    <div class="tab-content">
        <div id="personalData" class="tab-pane fade in active">
            <resident-personal-data></resident-personal-data>
        </div>
        <div id="placeOfResidence" class="tab-pane">
            <resident-adress></resident-adress>
        </div>
        <div id="listOfDocuments" class="tab-pane">
            <resident-document></resident-document>
        </div>
    </div>
</div>