<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a [routerLink]="['personalData']" routerLinkActive="dawid">Dane Osobowe</a></li>
        <li><a [routerLink]="['address']" routerLinkActive="dawid">Miejsce Zamieszkania</a></li>
        <li><a [routerLink]="['document']" routerLinkActive="dawid">Dokument</a></li>
        <li><a [routerLink]="['dormitory']" routerLinkActive="dawid">Akademik</a></li>
    </ul>

    <div class="tab-content">
        <div id="residentPersonalData" class="tab-pane fade in active">
            <router-outlet></router-outlet>
            <!-- <resident-personal-data [residentId]="residentId" (editedResident)="resident = $event" (dawid)="foo = $event "> </resident-personal-data> -->
        </div>
    </div>
    <div id="button_wrapper">
        <button (click)="GoBack()" type="button" class="btn btn-default">Wstecz</button>
        <button [routerLink]="['../../../../residentList', dormitoryId]" (click)="EditResidentPersonalData()" type=" button " class="btn btn-default ">Edytuj</button>
    </div>
</div>