<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="exampleInputName2">Kraj</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Kraj">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Miasto</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Miasto">

            </div>
            <div class="form-group">
                <label for="exampleInputName2">Kod Pocztowy</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Kod Pocztowy">
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail2">Ulica</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Datę Urodzenia">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Numer Domu</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Miejsce Urodzenia">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Numer lokalu</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Imię Matki">
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail2">Typ Adresu</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Typ Adresu" disabled>
            </div>
        </form>
    </div>
</div>