ul {
    margin-left: 660px;
    padding: 0px;
    list-style-type: none;
    min-width: 200px;
}

li {
    display: inline;
    padding: 0px 30px 0px 0px
}

button {
    margin: 10px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
}

button:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}