<div id="navbar_wrapper">
    <nav>
        <ul>
            <li>
                <button style="width:200px" md-button [routerLink]="['/addResident']"> Dodaj gościa</button>
            </li>
            <li>
                <button style="width:200px" md-button [routerLink]="['/dormitoryList']"> Lista Akademików</button>
            </li>
            <li>
                <button style="width:200px" md-button [routerLink]="['/searchResident']"> Wyszukaj Gościa</button>
            </li>
        </ul>
    </nav>
</div>