.container {
    width: 100%;
    display: table-cell;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 5px;
    width: 250px;
}

label {
    color: white;
    font-weight: inherit;
    font-size: 18px;
    margin-left: 5px;
    float: left;
    text-transform: capitalize;
}

form {
    display: flex;
    margin: 5px;
}

#form_wrapper {
    display: flex;
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield;
}