<!-- {{resident?.id}} -->
<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="exampleInputName2">Imię</label>
                <input [(ngModel)]="resident.name" name="name" type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Imie">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Nazwisko</label>
                <input [(ngModel)]="resident.surname" name="surname" type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Nazwisko">

            </div>
            <div class="form-group">
                <label for="exampleInputName2">Płeć</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Płeć">
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail2">Data Urodzenia</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Datę Urodzenia">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Miejsce Urodzenia</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Miejsce Urodzenia">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Imię Matki</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Imię Matki">
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail2">Imię Ojca</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Imię Ojca">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">PESEL</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj PESEL">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Obywatelstwo</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Zmień Obywatelstwo" disabled>
            </div>
        </form>
    </div>
</div>