<div id="navbar_wrapper">
    <div id="residentList_wrapper">
        <button type="button" class="btn btn-default" (click)="ShowResidentList()">Lista rezydentów</button>
    </div>
    <div id="setDormitoryButton_wrapper">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Wybierz Akademik
    <span class="caret"></span>
  </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li *ngFor="let dormitory of dormitoryList">
                    <a (click)="SetDormitory(dormitory.dormitoryName, dormitory.id)" [routerLink]="['/main']">{{dormitory.dormitoryName}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="archives_wrapper">
        <button type="button" class="btn btn-default">Archiwum</button>
    </div>
    <div id="raports_wrapper">
        <button type="button" class="btn btn-default">Raporty</button>
    </div>
    <div>