<div id="residentBlockadeWrapper" class="container">
    <h1>{{residentPersonalData.name}} {{residentPersonalData.surname}} - {{residentAccount.accountState}}</h1>
    <button *ngIf="hideBlockPanel" type="button " class="btn btn-default " (click)="ShowBlockadePanel()">Dodaj Nowa Blokade</button>
    <div id="listBlockadeHistoryWrapper" *ngIf="hideBlockPanel">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Typ Blokady</th>
                    <th>Powód Blokady</th>
                    <th>Dane Pracownika</th>
                    <th>Operacje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blockade of residentBlockadeHistory; let index = index">
                    <td>
                        {{blockade.blockade_type}}
                    </td>
                    <td>
                        {{blockade.comment}}
                    </td>
                    <td>
                        {{blockade.name}} {{blockade.surname}}
                    </td>
                    <td *ngIf="blockade.employee_id == userEmployeeId">
                        <button (click)="EditBlockade(index)" type="button" data-toggle="tooltip" title="Edytuj Blokade" class="btn btn-default" aria-label="Left Align">
          <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button (click)="DeleteBlockade(blockade.id, index)" type="button" data-toggle="tooltip" title="Edytuj Blokade" class="btn btn-default" aria-label="Left Align">
                <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                    </td>
                    <td *ngIf="blockade.employee_id != userEmployeeId">
                        <p>Brak</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="residentBlockadePanelWrapper" *ngIf="!hideBlockPanel">
        <form>
            <div class="form-group">
                <h4>Wybierz Typ Blokady</h4>
                <select class="form-control" #blockadeType="ngModel" [(ngModel)]="newResidentAccountBlockade.blockade_type" name="residentBlockadeState" class="form-control" placeholder="Wybierz Typ Blokady">
                    <option value="" disabled>Wybierz Typ Blokady</option>        
                    <option *ngFor="let name of blockadeStateList">{{name}}</option>
                            </select>
            </div>
            <div class="form-group">
                <h4>Wpisz Powód Blokady</h4>
                <textarea class="form-control" name="reasonBlockade" #reasonBlockade="ngModel" [(ngModel)]="newResidentAccountBlockade.comment" placeholder="Podaj powód blokady "></textarea>
            </div>

        </form>
        <div>
            <button *ngIf="!hideBlockPanel" type="button " class="btn btn-default " (click)="ShowBlockadePanel()">Wróc</button>
            <button *ngIf="!hideBlockPanel" type="button " class="btn btn-default" (click)="AddBlockadeToList()">Zapisz</button>
        </div>

    </div>
    <!-- <div id="button_wrapper" *ngIf="hideBlockPanel">
        <button type="button " class="btn btn-default ">Wstecz</button>
        <button type="button " class="btn btn-default ">Zapisz</button>
    </div> -->
</div>