<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="residentCountry">Kraj</label>
                <input [(ngModel)]="residentAddress.country" #country="ngModel" name="country" type="text" class="form-control" id="residentCountry" placeholder="Podaj Kraj" required>
                <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentCity">Miasto</label>
                <input [(ngModel)]="residentAddress.city" #city="ngModel" name="city" type="email" class="form-control" id="residentCity" placeholder="Podaj Miasto" required>
                <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentPostCode">Kod Pocztowy</label>
                <ss-multiselect-dropdown #postCode="ngModel" [texts]="settingsTextPostCodeSelectButton" [settings]="settingsSelectButton" [options]="postCodeList" [(ngModel)]="selectedPostCode" name="optionsModel" id="residentPostCode" required></ss-multiselect-dropdown>
                <div [hidden]="postCode.valid || postCode.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
                <!-- <input [(ngModel)]="residentAddress.postCode" #postCode="ngModel" name="postCode" type="text" class="form-control" id="residentPostCode" placeholder="Kod Pocztowy" required> -->
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentStreet">Ulica</label>
                <input [(ngModel)]="residentAddress.street" #street="ngModel" name="street" type="email" class="form-control" id="residentStreet" placeholder="Podaj Datę Urodzenia" required>
                <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentHouseNumber">Numer Domu</label>
                <input [(ngModel)]="residentAddress.houseNumber" #houseNumber="ngModel" name="houseNumber" type="email" class="form-control" id="residentHouseNumber" placeholder="Podaj Miejsce Urodzenia" required>
                <div [hidden]="houseNumber.valid || houseNumber.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentApartmentNumber">Numer lokalu</label>
                <input [(ngModel)]="residentAddress.apartmentNumber" #apartmentNumber="ngModel" name="apartmentNumber" type="email" class="form-control" id="residentApartmentNumber" placeholder="Podaj Imię Matki" required>
                <div [hidden]="apartmentNumber.valid || apartmentNumber.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentAddressType">Typ Adresu</label>
                <ss-multiselect-dropdown #typeAddress="ngModel" [texts]="settingsTextTypeAddressSelectButton" [settings]="settingsSelectButton" [options]="typeAddressList" [(ngModel)]="selectedTypeAddress" name="optionsModel" id="residentTypeAddress" required></ss-multiselect-dropdown>
                <!-- <input [(ngModel)]="residentAddress.address" #addressType="ngModel" name="addressType" type="email" class="form-control" id="residentAddressType" placeholder="Podaj Typ Adresu" disabled required> -->
                <div [hidden]="typeAddress.valid || typeAddress.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
</div>