<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="exampleInputName2">Data Przybycia</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Datę Przybycia">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Czas Pobytu</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Czas Pobytu">

            </div>
            <div class="form-group">
                <label for="exampleInputName2">Data Wymeldowania</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Datę Wymeldowania">
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail2">Numer Pokoju</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Numer Pokoju">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Data Przekroczenia RP</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Datę Przekroczenia RP">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Uwagi</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Uwagi">
            </div>
        </form>
    </div>
</div>