<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="residentDateOfArrival">Data Przybycia</label>
                <input type="text" [(ngModel)]="residentDormitory.dateOfArrival" name="dateOfArrival" #dateOfArrival="ngModel" class="form-control" id="residentDateOfArrival" placeholder="Podaj Datę Przybycia" required>
                <div [hidden]="dateOfArrival.valid || dateOfArrival.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentDateOfAccommodation">Czas Pobytu</label>
                <input type="email" [(ngModel)]="residentDormitory.dateOfAccommodation" name="dateOfAccommodation" #dateOfAccommodation="ngModel" class="form-control" id="residentDateOfAccommodation" placeholder="Podaj Czas Pobytu" required>
                <div [hidden]="dateOfAccommodation.valid || dateOfAccommodation.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentDateOfDeparture">Data Wymeldowania</label>
                <input type="text" [(ngModel)]="residentDormitory.dateOfDeparture" name="dateOfDeparture" #dateOfDeparture="ngModel" class="form-control" id="residentDateOfDeparture" placeholder="Podaj Datę Wymeldowania" required>
                <div [hidden]="dateOfDeparture.valid || dateOfDeparture.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="residentRoomNumber">Numer Pokoju</label>
                <input type="email" [(ngModel)]="residentDormitory.roomNumber" name="roomNumber" #roomNumber="ngModel" class="form-control" id="residentRoomNumber" placeholder="Podaj Numer Pokoju" required>
                <div [hidden]="roomNumber.valid || roomNumber.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentDateOfCrossRp">Data Przekroczenia RP</label>
                <input type="email" [(ngModel)]="residentDormitory.dateOfCrossRp" name="dateOfCrossRp" #dateOfCrossRp="ngModel" class="form-control" id="residentDateOfCrossRp" placeholder="Podaj Datę Przekroczenia RP" required>
                <div [hidden]="dateOfCrossRp.valid || dateOfCrossRp.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="residentComment">Uwagi</label>
                <input type="email" [(ngModel)]="residentDormitory.comments" name="comment" #comment="ngModel" class="form-control" id="residentComment" placeholder="Podaj Uwagi" required>
                <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">
                    Pole nie może być puste
                </div>
            </div>
        </form>
    </div>
</div>