<div id="body_wrapper">
    <div id="header_wrapper">
        <header>
            <a [routerLink]="['/main']">
                <img src="../assets/img/logo.jpg" id="logo">
            </a>
        </header>
    </div>
    <div id="content_wrapper">
        <div id="image_wrapper">
            <div id="navbar_wrapper">
                <navbar></navbar>
            </div>
            <div id="router_wrapper">
                <router-outlet></router-outlet>
            </div>
            <div id="footer_wrapper">
                <footer>
                    © Uniwersytet im. Adama Mickiewicza w Poznaniu, ul. Wieniawskiego 1, 61-712 Poznań | tel. centrala +48 (61) 829 40 00, NIP: 777-00-06-350, REGON: 000001293
                </footer>
            </div>
        </div>
    </div>
</div>