<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer pokoju</th>
            </tr>
        </thead>
        <tbody>
            <!-- <a [routerLink]="['/addResident']"> -->
            <tr *ngFor="let resident of residentsList" (click)="DetailResident(resident.id)">
                <td>{{resident.name}}</td>
                <td>{{resident.surname}}</td>
                <td>{{resident.room_number}}</td>
            </tr>
            <!-- </a> -->
        </tbody>
    </table>
</div>