<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer pokoju</th>
                <th>Zarządzanie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resident of residentsList">
                <td>{{resident.name}}</td>
                <td>{{resident.surname}}</td>
                <td>{{resident.room_number}}</td>
                <td>
                    <button type="button" data-toggle="tooltip" title="Edytuj Konto" class="btn btn-default" aria-label="Left Align">
  <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</button>

                    <button type="button" data-toggle="tooltip" title="Zresetuj hasło" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
</button>
                    <button type="button" data-toggle="tooltip" title="Wymelduj" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plane"></span> </button>
                    <button type="button" data-toggle="tooltip" title="Zablokuj konto" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 
</button>
                </td>
            </tr>
            <!-- </a> -->
        </tbody>
    </table>
</div>