<div class="container">
    <div id="form_wrapper">
        <form>

            <div class="form-group">
                <label for="exampleInputName2">Nazwa Dokumentu</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Nazwę dokumentu">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Data Wydania</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Datę Wydania">

            </div>
            <div class="form-group">
                <label for="exampleInputName2">Data Ważności</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Podaj Datę Ważności">
            </div>
        </form>
    </div>
    <div id="form_wrapper">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail2">Kraj Wydania</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Kraj Wydania">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Typ Dokumentu</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Podaj Typ Dokumentu">
            </div>
        </form>
    </div>
</div>